@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/flowbite-svelte/dist';
@source '../node_modules/flowbite-svelte-icons/dist';
